<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467935944795-vmt86fos3oon2mk8memlc8bkhto015bo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467935944795-vmt86fos3oon2mk8memlc8bkhto015bo</string>
	<key>API_KEY</key>
	<string>AIzaSyBFUEDm2Xu2GZ9nqX7Eh4UltS5guy3CkvA</string>
	<key>GCM_SENDER_ID</key>
	<string>467935944795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shameless</string>
	<key>PROJECT_ID</key>
	<string>shameless-app</string>
	<key>STORAGE_BUCKET</key>
	<string>shameless-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467935944795:ios:37c4039e48f6ef4fe75f7e</string>
</dict>
</plist>